<div>
  <ul class="side-nav" id="mobile-demo">
    <li>
      <a href="/" class="getToKnow">Get to Know Me</a>
    </li>
    <li>
      <a href="./contact">Say Hi!</a>
    </li>
    <li>
      <a href="/">See My Work</a>
    </li>
  </ul>
</div>
<div class="row container">
  <form class="col s12 contactForm">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Placeholder" type="text" name="name" id="name" class="validate">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" name="_replyto" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" name="message" class="materialize-textarea" ></textarea>
            <label for="textarea1" >Your Message</label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <button type="submit" class="btn btn-default sendMessage">Send Your Message</button>
  </div>
</div>