<div>
  <ul class="side-nav" id="mobile-demo">
    <li>
      <a class="getToKnow">Get to Know Me</a>
    </li>
    <li>
      <a href="./contact">Say Hi!</a>
    </li>
    <li>
      <a class="seeWork">See My Work</a>
    </li>
  </ul>
</div>
<div class="parallax-container startImage">
  <div class="parallax">
    <img src="./images/company-concept-creative-7369.jpg">
  </div>
</div>
<div class="intro">
  <div class="section container center">
    <div class="row center name">
      Hi, I'm Nathaniel Jansen!
    </div>
    <div class="row introduction center">
      <p>Reintroducing and reinventing myself. I have strong background in process management and development. My past knowledge
        in technology and business management has driven me to excel and constantly improve. I love writing code and I'm
        motivated to develop web applications that are bug free and sophisticated.</p>

      {{!--
      <p>It was late in my college career and knowing my interest in web development a family member asked if I'd be willing
        to build them a site. I had no experience, but felt it was something I'd enjoy. I was immediately hooked, the site
        was static and bland, but it met her stylistic expectations. It was a great feeling to create something through code.</p>

      <p>I started to wonder if my Business Degree was the right path. Surely, I could work in the industry. Plus, I could always
        return to school later and pursue a Computer Science degree. Years went by, but I continued to think about making
        a career out of web developement. My employer for the previous 7 years kept my workload high enough it was difficult
        to find time to obtain a second degree.</p>

      <p>Then it happened, I got laid off. I immediately knew what the next step was for myself, dive head first into web developement.
        I looked around for different ways to learn and came across the University of Denver's coding bootcamp.</p>

      <p>Now here I am, a fullstack developer, looking for new challenges and continued growth.</p> --}}
    </div>
    <div class="row center">
      <div class="col m6 s6">
        <img class="frontend" src="./images/frontend.png">
      </div>
      <div class="col m6 s6">
        <img class="backend" src="./images/backend.png">
      </div>
    </div>
  </div>
</div>
<div class="row container center">
  <div class="col m6 s6 frontendHeader">
    Front-End Developer
  </div>
  <div class="col m6 s6 backendHeader">
    Back-End Developer
  </div>
</div>
<div class="row container center">
  <div class="col m6 s6 frontendSkills">
    <ul>
      <li>
        CSS
      </li>
      <li>
        Javascript
      </li>
      <li>
        Bootstrap
      </li>
      <li>
        Animate.css
      </li>
      <li>
        Materialize
      </li>
      <li>
        Github
      </li>
      <li>
        Terminal
      </li>
      <li>
        Visual Studio Code
      </li>
      <li>
        Chrome Developer Tools
      </li>
      <li>
        jQuery
      </li>
    </ul>
  </div>
  <div class="col m6 s6 backendSkills">
    <ul>
      <li>
        Node.js
      </li>
      <li>
        Express.js
      </li>
      <li>
        Handlebars.js
      </li>
      <li>
        API Developement
      </li>
      <li>
        Sequelize
      </li>
      <li>
        MySQL
      </li>
      <li>
        MySQL Workbench
      </li>
      <li>
        Postman
      </li>
      <li>
        MongoDB
      </li>
      <li>
        Cheerio
      </li>
      <li>
        Mongoose
      </li>
    </ul>
  </div>
</div>
<div class="row pastProjects center">
  <div class="section container center">
    <div class="col m12 s12 pastProjectsHeader">
      My Past and Current Projects
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/bottle-macro-shadow-121191.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Sippin What
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="https://sippinwhat.com" target="_blank">Click to Sip This!</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Sippin What</span>
          <p>My first project helps you find that perfect wine and food pairing!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/burger-close-up-fast-food-103886.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Saucy Burger
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="https://powerful-beyond-83042.herokuapp.com/" target="_blank">Click here to Cook It, Eat It, Serve It!</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Saucy Burger</span>
          <p>An application to showcase my ability to work with MySQL. It needs some styling, but go ahead and place and order!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://pixel.nymag.com/imgs/daily/selectall/2017/12/27/27-scrappy-doo-dead.w710.h473.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Scrappy Scraper
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="https://floating-oasis-37353.herokuapp.com/" target="_blank">Scrap TheAwesomer.com by clicking here!</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Scrappy Scraper</span>
          <p>A simple web scraper that pulls from TheAwesomer.com. You can save articles to review later and add notes to articles!
            Cheerio was used for the scraping and stored the infomation on mLab with MongoDB.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row center">
    <div class="section container center">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./images/connection-device-display-776092.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">80s Video Game Trivia
              <i class="material-icons right">more_vert</i>
            </span>
            <p>
              <a href="https://nathanieljansen.github.io/Trivia_Game/" target="_blank">Click here to take a break and play a game!</a>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="material-icons right">close</i>80s Video Game Trivia Challenge</span>
            <p>A fun trivia game! See if you know all the answers :D</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./images/architecture-buildings-business-374684.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Train Scheduler
              <i class="material-icons right">more_vert</i>
            </span>
            <p>
              <a href="https://nathanieljansen.github.io/Train_Schedule/" target="_blank">Wanna Schedule a train? Click here!</a>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="material-icons right">close</i>Train Scheduler</span>
            <p>An exciting train scheduler! Add a train and it'll populate on the schedule. It'll show you the a bunch of info
              on the next arrival.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>