
<div class="parallax-container startImage">
  <div class="parallax">
    <img src="./images/company-concept-creative-7369.jpg">
  </div>
</div>
<div class="intro">
  <div class="section container center">
    <div class="row center name">
      Hi, I'm Nathaniel Jansen!
    </div>
    <div class="row introduction center">
      Reintroducing and reinventing myself. I have strong background in process management and development. My past knowledge in
      technology and business managment has driven me to excel and constantly improve. I love writing code and I'm motivated
      to develop web applications that are bug free and sophisticated.
    </div>
    <div class="row center">
      <div class="col m6 s6">
        <img class="frontend" src="./images/frontend.png">
      </div>
      <div class="col m6 s6">
        <img class="backend" src="./images/backend.png">
      </div>
    </div>
  </div>
</div>
<div class="row container center">
  <div class="col m6 s6 frontendHeader">
    Front-end Developer
  </div>
  <div class="col m6 s6 backendHeader">
    Back-end Developer
  </div>
</div>
<div class="row container center">
  <div class="col m6 s6">
    Tools
  </div>
  <div class="col m6 s6">
    Frameworks
  </div>
</div>
<div class="row container center">
  <div class="col m6 s6">
    <ul>
      <li>
        Bootstrap
      </li>
      <li>
        Animate.css
      </li>
      <li>
        Materialize
      </li>
      <li>
        Github
      </li>
      <li>
        Gitlab
      </li>
      <li>
        Terminal
      </li>
    </ul>
  </div>
  <div class="col m6 s6">
    Frameworks
  </div>
</div>