body {
  font-family: 'Roboto Condensed', sans-serif;
}

.brand-logo img {
  height: 56px;
  margin-left: 10px;
}

.meet {
  margin-right: 10px;
}

.nav-wrapper {
  background: white !important;
}

a {
  color: gray !important;
}

.intro {
  background: gray;
  color: white;
}

.name {
  margin-top: 20px;
  font-size: 35px;
}

.introduction {
  font-size: 20px;
}